TD.orcid_admin_left {
	width: 150px;
	text-align: right;
	font-weight: bold;
	padding-right: 15px;
}

TR.orcid_admin_head, TR.orcid_admin_head:hover {
	margin-top: 12px;
	width: 600px;
	background: #ddd;
}

TD.orcid_moremargin {
	padding-top: 10px;
	padding-bottom: 10px;
}

TD.orcid_admin_head {
	font-weight: bold;
	text-align: right;
	padding: 4px;
	padding-right: 30px;
	font-style: italic;
}

#orcid_saving {
	font-weight: bolder;
	font-size: 12px;
	margin-left: 30px;
	font-style: italic;
	filter: alpha(opacity = 50);
	opacity: 0.5;
}