.nav-icon-orcid {
	/*background-image: url('../img/orcid.png');*/
}

/*#orcid-id-logo {*/
	/*display: block;*/
	/*margin: 0 .5em 0 0;*/
	/*padding: 0;*/
	/*float: left;*/
/*}*/

.about-orcid {
	overflow-y: hidden;
}

.orcid-popup {
	margin-left: 16px;
	font-family: inherit;
	font-size: 85%;
	overflow-y: hidden;
}

.orcid-popup h1 {
	font-size: 120%;
	font-weight: bold;
}

.orcid-popup li {
	margin-left: 5%;
	list-style-type: circle;
}

.orcid-popup a {
	color: #0376a3;
}

.orcid_img {
	vertical-align: top;
	margin-top: -2px;
}